{% extends 'base.html' %}


{% block links%}
<title>Добавить</title>
{% endblock%}

{% block content -%}
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Добавить преступление</div>
                    <div class="card-body">
                        <form action="" method="post">

                            <div class="form-group">
                                <label for="kindofcrime">Вид Преступления</label>
                                <select class="form-control" id="kindofcrime" name="kindofcrime" size="1">
                                    <option>Грабеж</option>
                                    <option>Умышленное причинение тяжкого вреда здоровью</option>
                                    <option>Вандализм</option>
                                    <option>Побои</option>
                                    <option>Похищение человека</option>
                                    <option>Оскорбление</option>
                                    <option>Угон личного транспорта</option>
                                    <option>Хранение или применение оружия</opiton>
                                    <option>Хранение или распространение наркотиков</opiton>
                                    <option>Разбой</opiton>
                                    <option>Убийство</option>
                                    <option>Хилиганство</opiton>
                                </select>
                            </div>

                            <label for="" class="col-form-label text-md-right">О преступлении:</label>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <input type="text" id="crimetitle" class="form-control" name="crimetitle"
                                        placeholder="Кратко" required>
                                    <input type="text" id="adress" class="form-control" name="adress"
                                        placeholder="Адрес(полный)" required>
                                    <textarea rows="4" cols="50" name="aboutcrime" id='aboutcrime' class="form-control"
                                        placeholder="Поподробнее"></textarea>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Добавить
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>
{% endblock -%}