{% extends 'base.html' %}


{% block links%}
<title>Дело</title>
<link rel="styleshhet" href="../static/css/crime.css">
{% endblock %}
{% block content -%}
<main class="main-crime">
    <div class="main-information-about-crime">
        <h1 class="name_of_crime">{{crime.title}} </h1>
        <h2 class="date-of-crime">Совершенно {{crime.created_date}}</h1>
        <h2 class="where-of-crime">По адресу {{crime.adress}}</h2>
    </div>
    <div class="main-discription-of-crime"></div>
        <h2 class="what-of-crime">Произошло {{crime.kind}}</h3>
        <h3 class="cratkoe-opisanie">Краткое описание</h2>
        <p class="descrition">{{crime.content}}</p>
    </div>
</main>
{% endblock -%}