{% extends 'base.html' %}

{% block links%}
<title>Преступления</title>
{% endblock%}

{% block content %}
<h1>Записи в блоге</h1>
{%if login%}
<button style="color: darkslategray; border-radius: 5px;"><a href="/add">Добавить новость</a></button>
{%endif%}
{% for item in crimes %}
<a href="/crimes/{{item.id}}">
    <div class="col-md6 border rounded">
        <h2>{{item.title}}</h2>
        <div>
            {{item.content}}
        </div>
        <div>
            Автор - {{item.user.name}}, Дата написания - {{item.created_date.isoformat("|","minutes")}}
        </div>
    </div>
</a>
{% endfor %}
{% endblock %}