{% extends 'base.html' %}

{% block links %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>Главная</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
{% endblock %}
{% block content -%}
<font size="+5">Добро пожаловать на сайт crimes_around</font><br>
<font size="+2">
    Данный сайт создан для того чтобы централизованно размещать информацию о преступлениях.<br>
    Для зарегистрированных пользователей здесь присутствует функционал добавления, изменения и удаления постов с
    информацией о преступлениях.<br>
    Так же присутствует <a href="/map">карта</a>, на которую автоматически добавляются метки с данными о
    преступлениях,<br>
    Но для корректного отображения их на карте , просьба указывать адреса в формате: Страна Город Улица Дом<br>

    И конечно же как у каждого начинающего сайта, здесь есть <a href="/contact">контакты разработчиков и форма для
        вопросов</a>.
</font>
{% endblock -%}